body {
	background: url(Lakeview.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar{
background: #ffffff;
margin-bottom: 0;
}

.navbar-nav>li>a {
color: 	#000000;
}

.navbar-nav>.active>a, .navbar-nav>active>.a:focus,
.navbar-nav>.active>a:hover, .navbar-nav>li>a:hover {
	color: #ffffff;
	background: transparent;
	border-radius: 5px;
	font-weight: bold;
}

	#home {

	height: 100vh;
	padding-top: 100px;

	}

	#about {
		background: lightgreen;
		padding-top:100px;
	}


	#portfolio  {

	background: lightgreen;
		padding-top:100px;
	}


	#skills {

		background: lightgreen;
		padding-top:100px;

	}


	#contact {

		background: lightgreen;
		padding-top:160px;

	}	

	#row {

		background: lightgreen;
		padding-top: 100px;
	}



